.note {
    /* color: aliceblue !important; */
    padding: 1rem;
    /* height: 100vh; */
    /* max-width: 50%; */
    /* margin: 0 auto; */
}

.col > div {
    /* border: 1px solid red; */
}

h1 {
    padding: 0.5rem 0;
}

code {
    
}

#editor_content {
    /* height: 100vh; */
}

/* #cke_editor_content, .cke_inner {
    height: 100% !important;
} */

/* .heading, .hdc {
    color: rgb(155, 132, 176) !important;
} */
