{% extends 'base.html' %}
{% load static %}
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'noteapp/card.css' %}">
{% endblock style %}

{% block title %}Edit{% endblock title %}

{% block script %}

{% endblock script %}


{% block main %}
<form action="" method="post">
{% csrf_token %}

<div class="note row justify-content-md-center">
    <div class="col col-lg-8">
        <button type="submit" class="btn btn-success mt-4 px-4 btn_bgcolor">Save</button>
        <h1 contenteditable="plaintext-only" name="name" data-target="name">{{ note.name }}</h1>
        <input type="hidden" name="name" id="name" value="{{ note.name }}">
        {{ form.text }}
        <!-- <textarea name="editor_content" id="editor_content">{{ note.text|safe }}</textarea> -->
        <button type="submit" class="btn btn-success mt-4 px-4 btn_bgcolor">Save</button>
    </div>
</div>
</form>
{{ form.media }}
<script>
    const items = document.querySelectorAll('[contenteditable]');
    const itemsLength = items.length;

    for (let i = 0; i < itemsLength; i++) {
    let item = items[i];

    item.addEventListener('input', () => {
        let target = document.getElementById(item.getAttribute('data-target'));
        target.value = item.textContent;
    });
    }
</script>
<script>
    $(document).ready(function() {
        console.log($('.cdx-input').val());
        // Dealing with Input width
        let widthMachine = document.querySelector(".width-machine");
    
        // Dealing with Textarea Height
        function calcHeight(value) {
        let numberOfLineBreaks = (value.match(/\n/g) || []).length;
        // min-height + lines x line-height + padding + border
        let newHeight = 20 + numberOfLineBreaks * 20 + 12 + 2;
        return newHeight;
        }
    
        let textarea = document.querySelector(".cdx-input");
        console.log(textarea);
        if (textarea) {
        textarea.addEventListener("keyup", () => {
            textarea.style.height = calcHeight(textarea.value) + "px";
        });
        }
    });
</script>

{% endblock main %}