{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'noteapp/cards.css' %}">
{% endblock style %}

{% block script %}
<script>
    jQuery(function($) {
        $(document).ready(function(){
            var colorChange = $('.card');
            var original = colorChange.css('background');
            var colors = ['#8dedcd', ' #93b1f8', '#94ebca', '#cc99f2', '#e68383','#e6dc7e','#4B99C2'];
            var data_length = '{{all_notes|length}}'
            for (var i = 0; i < data_length; i++) {
                var hexLocation = Math.floor(Math.random() * colors.length);
                colorChange[i].style.background = colors[hexLocation];
            }

            colorChange.hover(function () {
                // $(this).css('opacity', '0.8');
                $(this).css('cursor', 'pointer');
                $(this).find(".main-link").attr('style', 'color: #656565 !important');
            }, function() {
                // $(this).css('opacity', '1');
                $(this).css('cursor', 'pointer');
                $(this).find(".main-link").attr('style', 'color: #27272a !important');

            });


            // const card = document.querySelector(".item");
            // const mainLink = card.querySelector(".main-link");
            // const clickableElements = Array.from(card.querySelectorAll("a"));
            // clickableElements.forEach((ele) =>
            //     ele.addEventListener("click", (e) => e.stopPropagation())
            // );

            // function handleClick(event) {
            //     const noTextSelected = !window.getSelection().toString();

            //     if (noTextSelected) {
            //         mainLink.click();
            //     }
            // }

            // card.addEventListener("click", handleClick);

            const cards = document.querySelectorAll('.item');  
            Array.prototype.forEach.call(cards, card => {  
                let down, up, link = card.querySelector('h5 a');
                card.onmousedown = () => down = +new Date();
                card.onmouseup = () => {
                    up = +new Date();
                    if ((up - down) < 200) {
                        link.click();
                    }
                }
            });
        })
    })

    

</script>
{% endblock script %}

{% block title %}Main{% endblock title %}

{% block main %}

<nav aria-label="Page navigation" class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="?{% if all_notes.has_previous %}page={{ all_notes.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
      </li>
      {% for i in all_notes.paginator.page_range %}
      <li class="page-item {% if all_notes.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endfor %}

      <li class="page-item">
        <a class="page-link" href="?{% if all_notes.has_next %}page={{ all_notes.next_page_number }}{% endif %}">Next</a>
      </li>
    </ul>
</nav>

<div class="cards">
{% for note in all_notes %}
        <div class="note_cards item 
            {% if forloop.counter|divisibleby:5 %}fifth{% elif forloop.counter|divisibleby:3 %}third{% else %}other_cards{% endif %}">
            <div class="card" id="card_{{forloop.counter}}">
                <div class="card-body">
                    <h5 class="card-title"><a class="main-link" href="{% url 'edit_note' note.id %}">{{ note.name }}</a></h5>
                    <div class="card-text {% if forloop.counter|divisibleby:5 %}lines_five{% elif forloop.counter|divisibleby:3 %}lines_three{% else %}lines_two{% endif %}">{{ note.text|safe }}</div>
                </div>
                <div class="card-footer bg-transparent border-0"><small class="text-muted">Updated at {{ note.updated_at|date:'d.m.Y' }}</small></div>
            </div>
        </div>
{% endfor %}
</div>

{% endblock main %}