{% extends 'base.html' %}

{% block script %}
<script>
    jQuery(function($) {
        $(document).ready(function(){
            var colorChange = $('.card');
            var original = colorChange.css('background');
            var colors = ['#8dedcd', ' #93b1f8', '#94ebca', '#cc99f2', '#e68383','#e6dc7e','#4B99C2'];
            var data_length = '{{all_notes|length}}'
            for (var i = 0; i < data_length; i++) {
                var hexLocation = Math.floor(Math.random() * colors.length);
                colorChange[i].style.background = colors[hexLocation];
            }

            colorChange.hover(function () {
                $(this).css('opacity', '0.8');
            }, function() {
                $(this).css('opacity', '1');
            });
        })
    })
    
</script>
{% endblock script %}

{% block title %}Main{% endblock title %}

{% block main %}


{% for note in all_notes %}
    
    <div class="note_cards item">
        <div class="card" idx="{{forloop.counter}}">
            <div class="card-body">
                <h5 class="card-title">{{note.name}}</h5>
                <p class="card-text">{{note.text|slice:":120"}}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock main %}