<form action="" method="post">
    {% csrf_token %}
    <div class="note row justify-content-md-center">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h1 contenteditable="plaintext-only" name="name" data-target="name">{% if note %}{{ note.name }}{% else %}New note{% endif %}</h1>
                <button type="submit" class="btn btn-success px-4 ms-5 h-100 btn_bgcolor">Save</button>
            </div>
            <div class="mt-4">
                <input type="hidden" name="name" id="name" value="{{ note.name }}">
                {{ note_form.text }}
            </div>
        </div>
    </div>
</form>

<script>
    const items = document.querySelectorAll('[contenteditable]');
    const itemsLength = items.length;

    for (let i = 0; i < itemsLength; i++) {
        let item = items[i];

        item.addEventListener('input', () => {
            let target = document.getElementById(item.getAttribute('data-target'));
            target.value = item.textContent;
        });
    }
</script>